.container {
  margin: 0 ;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  font-size: 24px;
}

.result-table {
  width: 100%;
max-width: 800px; /* Limit the maximum width of the table */
border-collapse: collapse;
margin: 20px auto; /* Center the table */
}


.result-table td {
  border: 1px solid #ddd;
  padding: 8px;
}



.result-table td {
  text-align: center;
}

.back-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.back-btn:hover {
  background-color: #0056b3;
}
